@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



.imagen-fondo {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(..//img/business-concept-with-copy-space-office-desk-table-with-pen-focus-and-analysis-chart-computer-notebook-cup-of-coffee-on-desk-vintage-tone-retro-filter-selective-focus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.Acercadenosotros {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 1.5em;
    color: #ffffff;
    align-items: center center;
    justify-content: center center;
    
}

.tituloacercade{
   justify-content: center;
    text-align: center;
    width: 100vw;
    
}

.fraseacercade {
    justify-content: center;
    text-align: center;
    width: 100vw;
}

.container {
    position: relative;
    width: 100vw;
    display: flex;
    top: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #ffffff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 5px;


}

.container .card:hover {
    height: 520px;
}

.container .card .imgcard {
    position: relative;
    width: 260px;
    height: 250px;
    top: -60px;
    left: 5px;
    z-index: 1;
    



}

.container .card .imgcard img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
   
}


.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;

}


@media (max-width:767.98px) {

    .container
     {
        display: block;
        align-items:center;
        justify-content: center;
        margin: 0 auto;
        flex-direction: column;
    }
    .container .card 
    {
     margin-top: 50px ;
       

    }

    
}