@media (max-width: 992px) {.contactos-contenedor{height: 110vh; } .ubicacion{margin-top: 10rem;}}
@media (min-width: 576px) {.form-contactos{width: 50% !important;}}
@media (min-width: 992px){.form-contactos{width: 75% !important;}}
@media (max-width: 576px){.mapa-contactos{width: 18rem !important;}}
