@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Roboto:wght@400;700&display=swap');

body {

    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


/* modal */
.nav-modal-iconchiquito{color: #ACCF51; font-size: 0.7rem; margin-left: 0.2rem;}
.nav-modal-letrachiquita{font-size: 0.7rem; margin-left: 0.5rem;}
.nav-modal-margennegativo-1{margin-top: -1.4rem;}
.nav-modal-caja-sexo {height: 2.3rem; width: 100% !important; border:0.5px solid rgb(211, 200, 200); border-radius: 5px;}
.nav-modal-check {margin-bottom: 0.25rem;}
.nav-modal-margennegativo-2{margin-top: -1.1rem; padding-left: 0.75rem;  }
.nav-modal-margennegativo-3{margin-bottom: -2rem;}
.nav-modal.hr{height: 1px;}
.modal-backdrop{position: unset !important;}
/* modal */

.btn-nav{background-color: #ACCF51;} 
.btn-nav:hover{background-color:#617a20 !important; color: white;}
@media (max-width: 992px){.btn-nav{width: 35% !important;}}
/* navbar */

/* INICIO SECCION NAVBAR */
.boton {
    background: #ACCF51;
    color:black;
}

.boton a {
    color: black;
}

.boton a:hover {
    color: white;
}

/* FIN SECCION NAVBAR */

/* INICIO SECCION SLIDER */
/* .imagen-slider1 {
    background-image: url("../img/hero1.jpg");  
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    height: 100vh;
} */
   
/* .imagen-slider1 {
    background-image: url("../img/hero1.jpg");  
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
   
}

.imagen-slider2 {
    background-image: url("../img/hero2.jpg"); 
    background-size: cover;
    height: 100vh;

}


.imagen-slider3 {
    background-image: url("../img/hero3.jpg"); 
    background-size: cover;
    height: 100vh;

} */
/* FIN SECCION SLIDER */

/* INICIO SECCION CATEGORIAS */
.lista {
    color: #617020;
    text-decoration: none;
}

.lista:hover {
    color: gray;
}
/* INICIO SECCION CATEGORIAS */

/* INICIO SECCION NEWSLETTER */
.newsletter {
    background: url('../img/feed-7.jpg') no-repeat center center/cover;
    padding: 0;
    max-width: 100vw;
}
.newsletter .fondo {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    padding: 5rem 0 7rem;
}

.formulario input {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.boton-hover:hover{
    color:white;
}

/* FIN SECCION NEWSLETTER */

/* INICIO SECCION COMENTARIOS */
.logo-usuario {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: black;
}

.parrafo p {
    margin: 0;
}

/* INICIO SECCION COMENTARIOS */

/* INICIO SECCION BLOG */
.imagen-blog {
    width: 100%;
}
/* INICIO SECCION BLOG */

/* INICIO LOGIN */
.ensalada {
    height: 100%;
  }
/* FIN LOGIN */

/* INICIO PAGINA ERROR */
.page_404
 {
padding: 40px 0;
background: #fff;
font-family: "Arvo", serif;

 }
 .page_404 img 
 {
    width: 100%;
    
 }
 .four_zero_four_bg
 {
  
    background-image: url(../img/Errorcavernicola.gif);
    height: 350px;
    
    background-position: center;
    background-size: cover;
    ;
 }
 .four_zero_four_bg h1
 {
    font-size: 80px;
   
   }
   .four_zero_four_bg h3 {
      font-size: 80px;
     
 }
 .link_404{
   color: #fff !important;
   padding: 10px 20px;
   background:#39ac31 ;
   margin: 20px 0;
   display: inline-block;
   text-decoration: none;
 }
 .contant_box_404
 {
   margin-top: -10px;
 }
/* INICIO PAGINA ERROR */

@media (max-width:720px) {
    .img-arandano {
        width: 250px;
        height: 250px;
    }

    .imagen-logo {
        display: flex;
        justify-content: flex-start;
    }
    
}
